<div class="max-w-1xl mx-auto p-1">


  <div class="flex justify-between items-end space-x-4">
    <div
      *ngFor="let product of chartData"
      class="w-[70%] rounded-lg p-1"
    >
      <!-- Hiển thị hình ảnh sản phẩm -->
      <div class="flex justify-center mb-2">
        <img [src]="product.image1" alt="{{ product.name }}" class="h-24 w-24 object-contain rounded-lg" />
      </div>

      <!-- Biểu đồ cột -->
      <div
        [ngStyle]="{
          height: product.isAnimated ? (product.value * 0.008) + 'px' : '0px',
          transition: 'height 0.5s ease-out'
        }"
        [ngClass]="product.color + ' rounded-lg'"
        class="w-full"

      ></div>

      <!-- Hiển thị tên sản phẩm với style -->


      <!-- Hiển thị giá -->
      <div class="mt-1 text-center text-gray-600 font-semibold">
        {{ formatCurrency(product.price) }}
      </div>
    </div>
  </div>

  <!-- Thông tin tổng sản phẩm -->
  <div class="mt-2 text-center text-lg font-semibold text-gray-700">
    <p>Tổng cộng các sản phẩm: {{ products.length }} sản phẩm</p>
  </div>

</div>
