<div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg">
  <h1 class="text-3xl font-semibold text-gray-900 mb-6">Chi tiết Đơn hàng</h1>

  <!-- Sản phẩm 1 -->
  <div class="bg-gray-50 p-4 rounded-lg shadow-sm hover:shadow-lg transition duration-300 ease-in-out mb-6 flex items-center space-x-4">
    <img src="https://cdn.tgdd.vn/Products/Images/522/325513/s16/ipad-pro-11-inch-wifi-black-thumb-650x650.png" alt="Sản phẩm 1" class="w-32 h-32 object-cover rounded-md shadow-md transition-transform duration-300 ease-in-out transform hover:scale-105">
    <div class="flex-1">
      <h2 class="text-lg font-semibold text-gray-800">Sản phẩm 1</h2>
      <div class="mt-2 flex items-center space-x-4">
        <p class="text-lg font-medium text-gray-900">Giá: 150,000 VND</p>
        <p class="text-sm text-gray-500">Số lượng: 2</p>
      </div>
    </div>
  </div>

  <!-- Sản phẩm 2 -->
  <div class="bg-gray-50 p-4 rounded-lg shadow-sm hover:shadow-lg transition duration-300 ease-in-out mb-6 flex items-center space-x-4">
    <img src="https://cdn.tgdd.vn/Products/Images/522/325513/s16/ipad-pro-11-inch-wifi-black-thumb-650x650.png" alt="Sản phẩm 2" class="w-32 h-32 object-cover rounded-md shadow-md transition-transform duration-300 ease-in-out transform hover:scale-105">
    <div class="flex-1">
      <h2 class="text-lg font-semibold text-gray-800">Sản phẩm 2</h2>
      <div class="mt-2 flex items-center space-x-4">
        <p class="text-lg font-medium text-gray-900">Giá: 200,000 VND</p>
        <p class="text-sm text-gray-500">Số lượng: 1</p>
      </div>
    </div>
  </div>

  <!-- Tổng cộng -->
  <div class="border-t border-gray-200 pt-4">
    <div class="flex justify-between items-center mb-4">
      <p class="text-lg font-semibold text-gray-800">Tổng số lượng:</p>
      <p class="text-lg text-gray-900">3</p>
    </div>
    <div class="flex justify-between items-center">
      <p class="text-lg font-semibold text-gray-800">Tổng tiền:</p>
      <p class="text-lg text-gray-900">550,000 VND</p>
    </div>
  </div>


  <!-- Button quay lại -->
  <div class="mt-6">
    <a routerLink="/admin/adorder" class="px-6 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-500 transition duration-150 ease-in-out">Quay lại</a>
  </div>
</div>
